body{
	font-family:Microsoft YaHei,Simsun;
	color:#6C6A6A;
	font-size:18px;
	background-image:url(../images/bg.png);
}
a{
	text-decoration:none !important;
	color:#6C6A6A;
}
a:hover{
	color:#02ba85;
}
.return{
	width:50px;
	height:50px;
	border-radius:25px;
	border:10px solid silver;
	position:absolute;
	left:110;
	top:150;
}
.fa-de{
	 color:#02ba85;
	 font-size:25px;
	 padding-top:3px;
	 padding-left:4px;
}
li{
	list-style:none;
}

/* main页面 */
main{	
}
a{
	text-decoration:none;
	color:#6C6A6A;
}
a:hover{
	color:#02ba85;
}
header{
	height:80px;
	background-color:RGB(244,245,250);
	margin:-8px -8px;
}
.account{
    float:left;
	height:80px;
	width:940px;
	font-size:24px;
}
.account .fa{
    margin-left: 700px;
    margin-top: 25px;
}


.logo{
	color:#02ba85;
	font-size:36px;
	line-height:70px;
	height:80px;
	width:400px;
	float:left;
}


main ul li{
	display:inline-block;
	list-style:none;
}
main {
	width:1200px;
	margin:50px auto;
}
main P{
	text-align:center;
}
main ul li img{
	margin:30px 20px 0px 20px;
	padding:5px;
	width:200px;
	height:250px;
	border:4px solid silver;
	border-radius:8px;
}
.sr-only{
	color:#02ba85;
	font-size:20px;
}
.form-search{
	border:1px solid RGB(192,192,192);
	border-radius:3px;
	width:230px;
	height:34px;
	
}

.btn-search{
	border:0px;
	background-color:white;
	position:absolute;
	top:123;
	left:710;
	
}

/* 搜索栏 */
.mr200{
	margin-right:200px;
	position:absolute;
	top:25;
	right:200;
}

/* 登陆注册时 */
.main{  
	height:340px;
	width:350px;
	margin:100px auto;
	border:2px solid white;
	border-radius:10px;
}
.login{
	height:300px;
	width:300px;
	margin:30px auto;
}
.btn-success>a{
	list-style:none;
	color:white;
}
.btn-de{
	padding-left:18px;
	padding-right:18px;
}
h3{
	color:#01ba85;
	font-size:24px;
	text-align:center;
}
/*注册*/
.re_main{
	width:500px;
	margin-left:300px;
	border:2px solid white;
	margin-top:50px;
	padding:3px 50px;
	border-radius:8px;
}
.form-group .input-group{
	margin-top:8px;
}
/*导航*/
.nav-pills{
	margin-left:200px;
}
/*修改信息*/
input.str_input{
	border:1px solid white;
	border-radius:5px;
	width:220px;
}
.label{
	color:#6C6A6A;
	font-size:16px;
}
.btn-green{
	background-color:#02ba85;
	color:white;
	font-size:18px;
	margin-top:15px;
}







/*查看订单*/
.btn-file{overflow:hidden;position:relative;vertical-align:middle;}
.btn-file>input{position:absolute;top:0;right:0;margin:0;opacity:0;filter:alpha(opacity=0);transform:translate(-300px, 0) scale(4);font-size:23px;direction:ltr;cursor:pointer;}
.fileupload{margin-bottom:9px;}.fileupload .uneditable-input{display:inline-block;margin-bottom:0px;vertical-align:middle;cursor:text;}
.fileupload .thumbnail{overflow:hidden;display:inline-block;margin-bottom:5px;vertical-align:middle;text-align:center;}.fileupload .thumbnail>img{display:inline-block;vertical-align:middle;height:100%;}
.fileupload .btn{vertical-align:middle;}
.fileupload-exists .fileupload-new,.fileupload-new .fileupload-exists{display:none;}
.fileupload-inline .fileupload-controls{display:inline;}
.fileupload-new .input-append .btn-file{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.thumbnail-borderless .thumbnail{border:none;padding:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.fileupload-new.thumbnail-borderless .thumbnail{border:1px solid #ddd;}
.control-group.warning .fileupload .uneditable-input{color:#a47e3c;border-color:#a47e3c;}
.control-group.warning .fileupload .fileupload-preview{color:#a47e3c;}
.control-group.warning .fileupload .thumbnail{border-color:#a47e3c;}
.control-group.error .fileupload .uneditable-input{color:#b94a48;border-color:#b94a48;}
.control-group.error .fileupload .fileupload-preview{color:#b94a48;}
.control-group.error .fileupload .thumbnail{border-color:#b94a48;}
.control-group.success .fileupload .uneditable-input{color:#468847;border-color:#468847;}
.control-group.success .fileupload .fileupload-preview{color:#468847;}
